<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
    <main class="container">
        <div class="nav-bar">
            <div class="title-bar">
                Admin
            </div>
            <div class="menu">
                <a th:href="@{/dashboard}" class="item">
                    <i class="fa-solid fa-gear"></i>
                    <span>Điều khiển</span>
                </a>
                <a th:href="@{/alert-history}" class="item">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>Lịch sử cảnh báo</span>
                </a>
                <a th:href="@{/logout}" class="item">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Đăng xuất</span>
                </a>
            </div>
        </div>
        <div class="control-part">
            <div class="title-control">
                <div class="title-app">
                    Hệ thống cảnh báo cháy tự động
                </div>
                <div class="admin-name-text">
                    <span th:text=${admin.username}></span>
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/5e2f0ecaae.js" crossorigin="anonymous"></script>
</body>
</html>